<div class="pages"
     ng-class="{'page-letter': model.pageFormat === 'Letter',
                'page-a4': model.pageFormat === 'A4'}">
  <div class="page"
       ng-repeat-start="page in model.pages"
       ng-class="{'page-letter': model.pageFormat === 'Letter',
                  'page-a4': model.pageFormat === 'A4',
                  'with-boundaries': model.showBoundaries}">
    <!-- Top cropmarks -->
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront"
         style="left: {{ othermodel.leftMargin - model.cropmarks.thickness }}in;
                top: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront && !$last"
         ng-repeat="a in range(model.cols) track by $index"
         style="left: {{ othermodel.leftMargin + othermodel.fullcardWidth * ($index + 1) - model.hMargin - model.cropmarks.thickness / 2 }}in;
                top: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront"
         style="left: {{ othermodel.leftMargin + othermodel.allCardsWidth - model.cropmarks.thickness - 2 * model.hMargin }}in;
                top: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <!-- Bottom cropmarks -->
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront"
         style="left: {{ othermodel.leftMargin - model.cropmarks.thickness }}in;
                bottom: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront && !$last"
         ng-repeat="a in range(model.cols) track by $index"
         style="left: {{ othermodel.leftMargin + othermodel.fullcardWidth * ($index + 1) - model.hMargin - model.cropmarks.thickness / 2 }}in;
                bottom: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront"
         style="left: {{ othermodel.leftMargin + othermodel.allCardsWidth - model.cropmarks.thickness - 2 * model.hMargin }}in;
                bottom: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <!-- Left cropmarks -->
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront"
         style="top: {{ othermodel.topMargin - model.cropmarks.thickness }}in;
                left: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront && !$last"
         ng-repeat="a in range(model.rows) track by $index"
         style="top: {{ othermodel.topMargin + othermodel.fullcardHeight * ($index + 1) - model.vMargin - model.cropmarks.thickness / 2 }}in;
                left: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront"
         style="top: {{ othermodel.topMargin + othermodel.allCardsHeight - model.cropmarks.thickness - 2 * model.vMargin }}in;
                left: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <!-- Right cropmarks -->
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront"
         style="top: {{ othermodel.topMargin - model.cropmarks.thickness }}in;
                right: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront && !$last"
         ng-repeat="a in range(model.rows) track by $index"
         style="top: {{ othermodel.topMargin + othermodel.fullcardHeight * ($index + 1) - model.vMargin - model.cropmarks.thickness / 2 }}in;
                right: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnFront"
         style="top: {{ othermodel.topMargin + othermodel.allCardsHeight - model.cropmarks.thickness - 2 * model.vMargin }}in;
                right: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>

    <!-- Background color -->
    <div class="background-for-cards"
         style="top: {{ othermodel.topMargin / 2 }}in;
                left: {{ othermodel.leftMargin / 2 }}in;
                width: {{ othermodel.leftMargin + othermodel.allCardsWidth }}in;
                height: {{ othermodel.topMargin + othermodel.allCardsHeight }}in;
                background-color: {{ model.backgroundColor.front }};">&nbsp;</div>

    <!-- Cards -->
    <div class="cards"
         style="width: {{ ((model.cardWidth + model.hMargin * 2) * model.cols) }}in;
                height: {{ ((model.cardHeight + model.vMargin * 2) * model.rows) }}in;">
      <div class="card"
           style="width: {{ model.cardWidth }}in; height: {{ model.cardHeight }}in;"
           ng-class="{'with-boundaries': model.showBoundaries,
                      'rotate-ccw': model.backFormat === 'sidebyside'}"
           ng-repeat-start="card in page track by $index">
        <p ng-show="model.showImageurl">{{ card.imageUrl }}</p>
        <img src="{{ card.imageUrl }}"
             style="width: {{ model.imageWidth }}in;
                    height: {{ model.imageHeight }}in;
                    left: {{ model.imageHShift }}in;
                    top: {{ model.imageVShift }}in;"
             class="back" />
      </div>
      <div class="card card-back"
           ng-show="model.backFormat === 'sidebyside'"
           style="width: {{ model.cardWidth }}in; height: {{ model.cardHeight }}in;"
           ng-class="{'with-boundaries': model.showBoundaries,
                      'rotate-cw': model.backFormat === 'sidebyside'}"
           ng-repeat-end>
        <p ng-show="model.showImageurl">{{ card.cardBack || deck.commonCardback }}</p>
        <img src="{{ card.cardBack || deck.commonCardback }}"
             style="width: {{ model.imageWidth }}in;
                    height: {{ model.imageHeight }}in;
                    left: {{ model.imageHShift }}in;
                    top: {{ model.imageVShift }}in;"
             class="back" />
      </div>
    </div>
  </div>
  <div class="page page-back"
       ng-repeat-end
       ng-show="model.backFormat === 'standard'"
       ng-class="{'page-letter': model.pageFormat === 'Letter',
                  'page-a4': model.pageFormat === 'A4',
                  'with-boundaries': model.showBoundaries}">
    <!-- Top cropmarks -->
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack"
         style="left: {{ othermodel.leftMargin - model.cropmarks.thickness }}in;
                top: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack && !$last"
         ng-repeat="a in range(model.cols) track by $index"
         style="left: {{ othermodel.leftMargin + othermodel.fullcardWidth * ($index + 1) - model.hMargin - model.cropmarks.thickness / 2 }}in;
                top: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack"
         style="left: {{ othermodel.leftMargin + othermodel.allCardsWidth - model.cropmarks.thickness - 2 * model.hMargin }}in;
                top: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <!-- Bottom cropmarks -->
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack"
         style="left: {{ othermodel.leftMargin - model.cropmarks.thickness }}in;
                bottom: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack && !$last"
         ng-repeat="a in range(model.cols) track by $index"
         style="left: {{ othermodel.leftMargin + othermodel.fullcardWidth * ($index + 1) - model.hMargin - model.cropmarks.thickness / 2 }}in;
                bottom: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack"
         style="left: {{ othermodel.leftMargin + othermodel.allCardsWidth - model.cropmarks.thickness - 2 * model.hMargin }}in;
                bottom: {{ model.cropmarks.margin }}in;
                height: {{ othermodel.topMargin - model.cropmarks.margin * 2 }}in;
                width: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <!-- Left cropmarks -->
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack"
         style="top: {{ othermodel.topMargin - model.cropmarks.thickness }}in;
                left: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack && !$last"
         ng-repeat="a in range(model.rows) track by $index"
         style="top: {{ othermodel.topMargin + othermodel.fullcardHeight * ($index + 1) - model.vMargin - model.cropmarks.thickness / 2 }}in;
                left: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack"
         style="top: {{ othermodel.topMargin + othermodel.allCardsHeight - model.cropmarks.thickness - 2 * model.vMargin }}in;
                left: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <!-- Right cropmarks -->
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack"
         style="top: {{ othermodel.topMargin - model.cropmarks.thickness }}in;
                right: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack && !$last"
         ng-repeat="a in range(model.rows) track by $index"
         style="top: {{ othermodel.topMargin + othermodel.fullcardHeight * ($index + 1) - model.vMargin - model.cropmarks.thickness / 2 }}in;
                right: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>
    <div class="cropmark"
         ng-show="model.cropmarks.showOnBack"
         style="top: {{ othermodel.topMargin + othermodel.allCardsHeight - model.cropmarks.thickness - 2 * model.vMargin }}in;
                right: {{ model.cropmarks.margin }}in;
                width: {{ othermodel.leftMargin - model.cropmarks.margin * 2 }}in;
                height: {{ model.cropmarks.thickness }}in;">&nbsp;</div>

    <!-- Background color -->
    <div class="background-for-cards"
         style="top: {{ othermodel.topMargin / 2 }}in;
                left: {{ othermodel.leftMargin / 2 }}in;
                width: {{ othermodel.leftMargin + othermodel.allCardsWidth }}in;
                height: {{ othermodel.topMargin + othermodel.allCardsHeight }}in;
                background-color: {{ model.backgroundColor.back }};">&nbsp;</div>

    <div class="cards"
         style="width: {{ ((model.cardWidth + model.hMargin * 2) * model.cols) }}in;
                height: {{ ((model.cardHeight + model.vMargin * 2) * model.rows) }}in;">
      <div class="card"
           style="width: {{ model.cardWidth }}in; height: {{ model.cardHeight }}in;"
           ng-class="{'with-boundaries': model.showBoundaries}"
           ng-repeat="card in page track by $index">
        <p ng-show="model.showImageurl">{{ card.cardBack || deck.commonCardback }}</p>
        <img src="{{ card.cardBack || deck.commonCardback }}"
             style="width: {{ model.imageWidth }}in;
                    height: {{ model.imageHeight }}in;
                    left: {{ model.imageHShift }}in;
                    top: {{ model.imageVShift }}in;"
             class="back" />
      </div>
    </div>
  </div>
</div>
