<div class="jumbotron">
  <h1>Salut, Hello&nbsp;!</h1>
  <p class="lead">
    Welcome in this tool.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/simple">Go !<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>PNP Deliver</h4>
  <p>
    A tool to help game designers distribute their PnP games and to
    help PnP players to print them.
  </p>

  <h4>Et en français ça donne quoi ?</h4>
  <p>
    C'est un outil pour aider les auteurs de jeux à distribuer leurs
    jeux en PnP et pour aider les joueurs à imprimer ceux-ci.
  </p>

  <h4>Cool non ?</h4>
  <p>Carrément !</p>

  <h4>Last changes</h4>
  <ul>
    <li><b>0.0.9</b><ul>
      <li>A background color can be added in the margins</li>
      <li>A page break can be added between the decks</li>
      <li>Two UI are now available (simple/advanced)</li>
      <li>Code cleaned</li>
    </li>
    <li><b>0.0.8</b><ul>
      <li>Crop marks now work on the back side.</li>
      <li>Can rename a deck.</li>
      <li>Can apply a global card count or card back to a deck.</li>
      <li>Crop marks are centered on the inner margins.</li>
    <li><b>0.0.7</b><ul>
      <li>Crop marks can be added on the front side of the cards (back side not functionnal yet).</li>
    </ul></li>
    <li><b>0.0.6</b><ul>
      <li>Card back can be displayed, side by side with the front side or on a separate page for duplex printing.</li>
    </ul></li>
    <li><b>0.0.5</b><ul>
      <li>Can now save and load.</li>
      <li>The saved JSON file can be shared on a public repository (dropbox)
          and can be passed through the URL like this :
          <a href="http://court-jus.github.io/PnPDeliver/#/advanced?load=MYPUBLICURL">
            http://court-jus.github.io/PnPDeliver/#/advanced?load=MYPUBLICURL
          </a>
      </li>
    </ul></li>
    <li><b>0.0.4</b><ul>
      <li>When display boundaries, the images are not hidden, but their
          opacity is reduced.</li>
      <li>Cards overflow is hidden so the cropping effect of having images
          bigger than cards is better.</li>
      <li>Options are organized in categories.</li>
      <li>Multiple copies of the same card can be created.</li>
      <li>Multiple decks can be generated and managed.</li>
    </ul></li>
    <li><b>0.0.3</b><ul>
      <li>It is now possible to use images with bleeding by specifying
          image width/height and image shift. For example if you are making
          standard 2.5/3.5 cards and have a 1/10in bleed, you will choose
          card width=2.5, card height=3.5, image width=2.7, image height=3.7,
          image horizontal shift = -0.1 and image vertical shift = -0.1.</li>
    </ul></li>
    <li><b>0.0.2</b><ul>
      <li>It is now possible to choose the number of cards per page (rows, cols),
          cards size and the cards margin.</li>
    </ul></li>
  </ul>
</div>
