<div class="jumbotron">
  <h1>Salut, Hello&nbsp;!</h1>
  <p class="lead">
    Welcome in this tool.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/test">Go !<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>PNP Deliver</h4>
  <p>
    A tool to help game designers distribute their PnP games and to
    help PnP players to print them.
  </p>

  <h4>Et en français ça donne quoi ?</h4>
  <p>
    C'est un outil pour aider les auteurs de jeux à distribuer leurs
    jeux en PnP et pour aider les joueurs à imprimer ceux-ci.
  </p>

  <h4>Cool non ?</h4>
  <p>Carrément !</p>
</div>
